body {
  margin: 0;
  background: #222;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rainbow {
  margin: 0;
  text-align: center;
  width: 640px;
  font-weight: 900;
  font-family: monospace;
  font-size: clamp(32px, 20vw, 192px);
}

p {
  color: white;
  font-size: 32px;
  font-family: monospace;
  font-size: clamp(18px, 6vw, 32px);
}
